.home {
  max-width: 100%;
  background-image: url('../assets/images/back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: clamp(3.75rem, 2.231rem + 7.59vw, 9.375rem);
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-info {
      display: flex;
      flex-direction: column;
      margin-top: clamp(1.25rem, 0.085rem + 5.82vw, 5.563rem);
      text-align: center;
      align-items: center;
    }
    &-title {
      color: $gold;
      text-align: center;
      font-family: 'Oranienbaum', serif;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      margin-bottom: 32px;
      span {
        color: #fff;
      }
    }
    &-text {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 56px;
      color: #fff;
      span {
        color: $gold;
      }
    }
    &-reserver {
      position: relative;
    }
    &-small {
      color: #fff;
      text-align: center;
      font-size: 12px;
      line-height: 1.3;
      margin-top: 20px;
      margin-bottom: clamp(8.75rem, 3.248rem + 27.51vw, 29.125rem);
    }
    &-arrow {
      position: absolute;
      left: 220px;
      top: -65px;
    }
    &-sofa {
      position: absolute;
      bottom: 7px;
      left: -5px;
      max-width: clamp(18.75rem, -1.233rem + 99.92vw, 92.75rem);
      z-index: 10;
    }
    &-square {
      width: clamp(8.125rem, 3.678rem + 14.23vw, 17.063rem);
      height: clamp(12.5rem, 7.152rem + 17.11vw, 23.25rem);
      position: absolute;
      border-radius: 20px;
      background: linear-gradient(
        348deg,
        rgba(240, 214, 131, 0.5) 6.97%,
        rgba(123, 63, 10, 0.5) 95.39%
      );
      z-index: 5;
      bottom: clamp(3.125rem, -0.251rem + 16.88vw, 15.625rem);
      right: clamp(-0.313rem, -3.903rem + 2.95vw, 1.875rem);
      p {
        color: #fff;
        font-size: clamp(0.75rem, 0.563rem + 0.6vw, 1.125rem);
        margin-top: clamp(1.25rem, -0.243rem + 4.78vw, 4.25rem);
      }
      span {
        color: $gold;
        text-align: center;
        font-weight: 700;
      }
      p:last-child {
        margin-top: 20px;
      }
    }
    &-svg {
      position: relative;
    }
    &-lamp {
      display: block;
      position: absolute;
      right: clamp(0rem, -0.568rem + 2.6vw, 1.875rem);
      right: 0px;
      bottom: -87px;
    }
    &-light {
      position: absolute;
      right: 80px;
      bottom: -260px;
    }
    &-ellipse {
      position: absolute;
      right: 144px;
      bottom: 411px;
    }
    &-youtube {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 0 clamp(0.625rem, 0.322rem + 1.39vw, 1.625rem);

      position: absolute;
      left: clamp(-1.25rem, -1.856rem + 2.77vw, 0.75rem);
      top: 350px;
      max-width: clamp(10.625rem, 8.92rem + 7.79vw, 16.25rem);
      height: clamp(4.375rem, 3.428rem + 4.33vw, 7.5rem);
      flex-shrink: 0;

      border-radius: 15px;
      background: linear-gradient(180deg, #062b2e 0%, #17868d 50.52%, #17868d 100%);
      img {
        width: clamp(2.5rem, 2.027rem + 2.36vw, 4.25rem);
        height: clamp(2.5rem, 2.027rem + 2.36vw, 4.25rem);
      }
      p {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
        text-align: start;
      }
    }
    &-box {
      height: clamp(10.625rem, -10.229rem + 29.01vw, 17.063rem);
      background: #010e0f;
      position: absolute;
      bottom: clamp(-17.375rem, 14.933rem + -35.21vw, -9.188rem);
      left: 0px;
      border-radius: 41px;

      padding: clamp(0.938rem, -0.075rem + 1.41vw, 1.25rem);
      z-index: 10;

      // height: 140px; 273px
      // bottom: -150px; -275px
      // padding: 15px; 20px
    }
    &-exp {
      display: flex;
      justify-content: center;
      gap: clamp(1.563rem, -7.751rem + 12.96vw, 4.438rem);
      color: $gold;
      padding: clamp(0.938rem, -4.934rem + 8.17vw, 2.75rem)
        clamp(0.938rem, -5.946rem + 9.58vw, 3.063rem) clamp(0.938rem, -6.959rem + 10.99vw, 2.375rem);

      font-family: 'Oranienbaum', serif;
      font-size: clamp(2.5rem, -5.599rem + 11.27vw, 5rem);
      line-height: 1.2;
      letter-spacing: 4px;
      text-transform: uppercase;
      border: 2px solid $border;
      border-radius: 41px;

      // gap: 25px;  71px
      // padding: 15px 15px 15px;  44px 49px 54px;
      // font-size: 40px;  80px

      p {
        color: #fff;
        font-size: 16px;
        font-family: 'Noto Sans', sans-serif;
        line-height: 1.3;
        letter-spacing: 1.5px;
        text-align: center;
      }
    }
  }
}

// start medea

@media (max-width: 1919px) {
  .home {
    &__item {
      &-lamp {
        display: none;
      }
      &-light {
        display: none;
      }
      &-ellipse {
        display: none;
      }
    }
  }
}

@media (max-width: 1150px) {
  .home {
    &__item {
      &-title {
        font-size: clamp(1.563rem, 0.816rem + 3.73vw, 3.5rem);
      }
      &-text {
        font-size: clamp(1.125rem, 0.836rem + 1.45vw, 1.875rem);
        margin-bottom: clamp(1.25rem, 0.383rem + 4.34vw, 3.5rem);
      }
      &-youtube {
        p {
          font-size: 12px;
        }
      }
      &-box {
        height: auto;
        bottom: -170px;
      }
      &-exp {
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
        font-size: 30px;
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 922px) {
  .home {
    &__item {
      &-arrow {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    &__item {
      &-box {
        width: 100%;
        bottom: -280px;
      }
      &-box {
        display: none;
      }
      &-exp {
        gap: 3px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      &-target {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 616px) {
  .home {
    &__item {
      &-square {
        display: none;
      }
      &-youtube {
        top: 375px;
        left: auto;
        margin-top: 7px;
      }
      &-sofa {
        position: absolute;
        bottom: -47px;
      }

      &-lamp {
        display: block;
        max-width: clamp(6.25rem, -1.974rem + 37.59vw, 12.5rem);
        bottom: -25px;
      }
      &-light {
        display: block;
        right: clamp(1.625rem, -0.842rem + 11.28vw, 3.5rem);
        bottom: clamp(-1.375rem, -2.609rem + 5.64vw, -0.438rem);
        width: clamp(7.188rem, -0.461rem + 34.96vw, 13rem);
      }
      &-ellipse {
        display: block;
        width: clamp(1.5rem, 0.184rem + 6.02vw, 2.5rem);
        right: clamp(1.938rem, -0.859rem + 12.78vw, 4.063rem);
        bottom: clamp(4.625rem, -3.763rem + 38.35vw, 11rem);
      }
      &-exp {
        display: none;
      }
    }
  }
}
